{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CriptoTracking</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/ui.css' %}">
</head>
<body>
	<header>
		<div class="container-full-width">
			<div class="crypt-header">
				<div class="row">
					<div class="col-xl-4 col-lg-4 col-md-4 col-sm-5">
						<div class="row">
							<div class="col-xs-2">
								<div class="crypt-logo">
                                    <a href="http://127.0.0.1:8000/"><img src="{% static 'images/ownlogoB.png' %}" alt=""></a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-8 col-lg-8 col-md-8 d-none d-md-block d-lg-block">
                        <ul class="crypt-heading-menu fright">
                            <li><a href="http://127.0.0.1:8000/">Criptomonedas</a></li>
                            <li><a href="http://127.0.0.1:8000/resumen/MarketCap/1">Resumen</a></li>
                            <li><a href="marketcap.html">Predictor</a></li>
                            <li><a href="trading.html">Simulador</a></li>
                            <li class="crypt-box-menu menu-blue"><a href="http://127.0.0.1:8000/register">Registrar</a></li>
                            <li class="crypt-box-menu menu-green"><a href="http://127.0.0.1:8000/accounts/login">Iniciar Sesión</a></li>
                        </ul>
                    </div><i class="menu-toggle pe-7s-menu d-xs-block d-sm-block d-md-none d-sm-none"></i>
					<i class="menu-toggle pe-7s-menu d-xs-block d-sm-block d-md-none d-sm-none"></i>
				</div>
			</div>
		</div>
	</header>
	<!-- Main Content -->
	<div class="container">
		<div class="row">
			<div class="col md-12 text-center">
				<h1 class="mt-5 mb-5">Resumen sobre criptomonedas</h1>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="table-responsive">
					<table class="table table-striped crypt-table-market-cap">
					  <thead>
					    <tr>
					      <th scope="col"></th>
					      <th scope="col" class="text-left pl-2">Nombre</th>
					      <th scope="col">Capitalización de mercado</th>
                          <th scope="col">
                              {% if  Campo == "Price" %}
                                {% if  Orden == 1 %}
                                    <a href="http://127.0.0.1:8000/resumen/Price/-1">Precio ▲</a>
                                {% else %}
                                    <a href="http://127.0.0.1:8000/resumen/Price/1">Precio ▼</a>
                                {% endif %}
                              {% else %}
                                  <a href="http://127.0.0.1:8000/resumen/Price/1">Precio</a>
                              {% endif %}
                          </th>
                          <th scope="col">
                              {% if  Campo == "Volume" %}
                                {% if  Orden == 1 %}
                                    <a href="http://127.0.0.1:8000/resumen/Volume/-1">Volumen negociado ▲</a>
                                {% else %}
                                    <a href="http://127.0.0.1:8000/resumen/Volume/1">Volumen negociado ▼</a>
                                {% endif %}
                              {% else %}
                                  <a href="http://127.0.0.1:8000/resumen/Volume/1">Volumen negociado</a>
                              {% endif %}
                          </th>
					      <th scope="col">
                              {% if  Campo == "Change" %}
                                {% if  Orden == 1 %}
                                    <a href="http://127.0.0.1:8000/resumen/Change/-1">Variacion 24H ▲</a>
                                {% else %}
                                    <a href="http://127.0.0.1:8000/resumen/Change/1">Variacion 24H ▼</a>
                                {% endif %}
                              {% else %}
                                  <a href="http://127.0.0.1:8000/resumen/Change/1">Variacion 24H</a>
                              {% endif %}
                          </th>
					    </tr>
					  </thead>
					  <tbody>
                      {%  for key,coin in Data %}
                        {% if key != "TotalMC" %}
                            <tr>
                              <th>{{ forloop.counter }}</th>
                              <td class="text-left pl-2 font-weight-bold"><img width="80" src="{% static coin.img %}" width="20" class="pr-1 crypt-market-cap-logo" alt="coin"> <a href="index.html">{{ key }}</a></td>
                              <td>{{coin.MarketCap}}$</td>
                              <td>{{coin.Price}}$</td>
                              <td>{{coin.Volume}}$</td>
                              <td class="crypt-up"> {{coin.Change}}%</td>
                            </tr>
                        {% endif %}
                      {% endfor %}
					  </tbody>
					</table>
				</div>
			</div>
		</div>
		<hr />
		<div class="row">
			<div class="col-md-12">
				<div class="text-center">
					<h1 class="mt-5 mb-3"><b>Capitalización de mercado total:<span class="crypt-up">{{TotalMC}}$</span></b></h1>
					<p class="mb-5">Última actualización de TradingView: {{Data.BTC.Datetime}}</p>
				</div>
			</div>
		</div>
	</div>
	
	
	<footer>
		
	</footer>
		<script src="{% static 'amc/core.js'%}"></script>
	<script src="{% static 'amc/charts.js'%}"></script>
	<script src="{% static 'amc/dark.js'%}"></script>
	<script src="{% static 'amc/animated.js'%}"></script>
	<script src="{% static 'js/jquery.js'%}"></script>
	<script src="{% static 'js/popper.min.js'%}"></script>
	<script src="{% static 'bootstrap/js/bootstrap.bundle.js'%}"></script>
	<script src="{% static 'bootstrap/js/bootstrap.js'%}"></script>
	<script src="{% static 'js/main.js'%}"></script>
	<script src="{% static 'js/amc.js'%}"></script>
	<script src="https://s3.tradingview.com/tv.js"></script>
</body>
</html>